<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Camisetas</title>
  <link rel="stylesheet" href="../public/stylesheets/estilo.css">
</head>
<body>
    <h1>Bem vindo à tela de produtos, o máximo de conforto e estilo com a sua cara!</h1>
    <a href="produtos/camisetas"> <h1>Camisetas Disponíveis</h1> </a> 

    <h1>Bermudas Disponíveis</h1>
    <ul>
        <li>Bermuda Jeans - R$ 59,90</li>
        <li>Bermuda Moletom - R$ 49,90</li>
        <li>Bermuda Sarja - R$ 69,90</li>
        <li>Bermuda Tactel - R$ 39,90</li>
    </ul>

    <h1>Calças Disponíveis</h1>
    <ul>
        <li>Calça Jeans - R$ 99,90</li>
        <li>Calça Social - R$ 129,90</li>
        <li>Calça Moletom - R$ 89,90</li>
        <li>Calça Sarja - R$ 109,90</li>
    </ul>

    <h1>Casacos Disponíveis</h1>
    <ul>
        <li>Casaco Jeans - R$ 149,90</li>
        <li>Casaco Moletom - R$ 119,90</li>
        <li>Casaco de Couro - R$ 299,90</li>
        <li>Casaco Parka - R$ 199,90</li>
    </ul>
</body>
</html>